<!DOCTYPE html>
<html>
<head>
    <title>Admin Dashboard</title>
    <link rel="stylesheet" href="/css/style.css">
</head>
<body>
    <h1>Admin Dashboard</h1>
    <ul>
        <li><a href="/calculator">Calculator</a></li>
        <li><a href="/members">Member List</a></li>
        <li><a href="/accounts">Account List</a></li>
        <li><a href="/loans">Loan Types</a></li>
    </ul>
</body>
</html>
